.donate-page {
  margin-top: 4.2rem;
  padding: 2rem 5rem;
}
.donate-page .section-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding: 1rem;
  margin: 0rem 10rem;
}
.donate-page .section-top .donation-img {
  width: 10rem;
  img {
    width: 100%;
  }
}
.donate-page .section-top .donation-desc {
  font-size: 2.4rem;
}
.donate-page .donation-form {
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  margin: 0rem 10rem;
  padding: 2rem;
  gap: 2rem;
  background-color: #f2f2f2;
}
.donation-title {
  text-align: center;
  padding: 1rem;
  h1 {
    font-size: 3rem;
  }
}
.donor-desc {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.form-title {
  font-size: 1.4rem;
}

.input-fields {
  display: flex;
  justify-content: space-between;
  input {
    width: 25rem;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
  }
}
.donation-type {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.select-fields {
  display: flex;
  justify-content: space-between;
  select {
    width: 25rem;
    padding: 0.5rem 1rem;
  }
  input {
    width: 25rem;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
  }
}
.donation-note {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  textarea {
    padding: 1rem;
    font-size: 2rem;
  }
}
.distributor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.distributor .form-title {
  p {
    margin-top: 1rem;
    font-size: 1.6rem;
    color: rgb(139, 139, 139);
  }
}
.distributor .distributor-info {
  display: flex;
  gap: 1rem;
  input {
    width: 25rem;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
  }
  button {
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    background-color: #28a745;
    border-radius: 5px;
  }
}
.distributor-name {
  font-size: 1.4rem;
  color: blue;
}
.submit-button button {
  padding: 1rem 2rem;
  background-color: #f5004f;
  border: none;
  color: white;
  border-radius: 5px;
}

@media (max-width: 700px) {
  .donate-page {
    padding: 1rem;
  }
  .donate-page .section-top {
    margin: 0rem 0rem;
  }
  .donate-page .donation-form {
    margin: 0rem 0rem;
    padding: 1rem;
  }
}
@media (max-width: 700px) {
  .donate-page {
    margin-top: 0rem;
    padding: 0rem;
  }

  .input-fields {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    input {
      width: 90%;
    }
  }
}
